/* Default styles */

body {
    background-color: black;
    background-size: cover;
}

.hi-slide {
    position: relative;
    width: 754px;
    height: 292px;
    border-radius: 50px;
    margin: 115px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
    opacity: 1;
    background-color: white;
}

.hi-slide .hi-prev {
    left: 59px;
}

.hi-slide .hi-prev:before {
    content: '<';
}

.hi-slide .hi-next {
    right: -59px;
}

.hi-slide .hi-next:before {
    content: '>';
}

.hi-slide > ul {
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    cursor: pointer;
    background-color: #333;
}

.hi-slide > ul > li >img{
    width: 100%;
    height: 100%;
    background-position: center;
}

/* Media queries for responsive design */

@media (max-width: 768px) {
  /* Adjust the width and height of the slideshow to fit smaller screens */
  .hi-slide {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    border-radius: 0;
  }

  /* Adjust the position of the slideshow controls for smaller screens */
  .hi-slide .hi-prev {
    left: 20px;
  }

  .hi-slide .hi-next {
    right: 20px;
  }

  /* Adjust the size and position of the slideshow images for smaller screens */
  .hi-slide > ul > li {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
  }
}

