# Ignore the virtual environment
venv/
env/

# Ignore database files
db.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore sensitive information and configuration files
.env
config/settings/local.py

# Ignore log files
logs/

# Ignore IDE and text editor files (adjust as needed)
.idea/
.vscode/
